@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Pattaya&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: "Pattaya", sans-serif;
}

p{
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}