
:root {

    // =======================
    // Brand Colors
    // =======================
    --color-primary-red: #FE3E36;
    --color-black: #041625;
    --color-offwhite: #F1F3F4;
    --color-yellow: #F2B305;

    // =======================
    // Others Colors
    // =======================
    --color-button-bg: #FE3E36;


    // =======================
    // Backgrounds
    // =======================
    --body-bg-light: #FADDD5;
    --body-bg-extra-light: #FADDD5; 


    // =======================
    // Text
    // =======================
    --text-color-dark: #1E1E1E;
    --text-offwhite: #707070;
    --link-color: #F1F3F4;
    --link-hover-color: #FE3E36;

}