//base
@use 'base/reset';
@use 'base/variables' as vars;
@use 'base/typography';
@use 'base/functions';
@use 'base/mixins';

//Layout
@use 'layout/header';
@use 'layout/footer';
@use 'layout/container';

//component
@use 'components/button';



/** *************** Hero CSS ****************** **/

.hero-section{
    background: var(--color-black);
    @include mixins.responsive(medium){
        padding: 35px 0;
    }
    .hero-elements{
        display: flex;
        align-items:center;
        justify-content: space-between;
        gap: 40px;
        @include mixins.responsive(medium){
            flex-direction: column-reverse;
        }
        
       .left-text-cta{
            width: 40%;
            color: #fff;

            @include mixins.responsive(medium){
                width: 100%;
                text-align: center;
            }

            @include mixins.responsive(small){
                width: 100%;
                text-align: center;
            }
            .chips-splash{
                max-width: 150px;
                margin-bottom: -30px;
                @include mixins.responsive(medium){
                    display: none;
                }
                img{
                    width: 100%;;
                }
            }
            h1{
                span{
                    font-size: 85px;
                    color: var(--color-yellow);
                }
            }
            p{
                margin-top: 20px;
            }
       } 
       .right-image{
            width: 60%;
            text-align: right;
            @include mixins.responsive(medium){
                width: 100%;
                text-align: center;
            }
            @include mixins.responsive(small){
                width: 100%;
                text-align: center;
            }
            img{
                max-width: 650px;
                text-align: right;
                @include mixins.responsive(medium){
                    max-width: 320px;
                }
            }
       }
    }
}

/** *************** End of Hero CSS ****************** **/

/** *************** Quick Purchase ****************** **/

.quick-parchase-section{
    padding: 50px 0 80px 0;
    background: linear-gradient(#F2B305, #F3DD60);
    .quick-purchase{
        h2{
            text-align: center;
        }
        p{
            margin: auto;
            max-width: 560px;
            text-align: center;
        }

        .items-grid{
            margin-top: 140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 33px;

            @include mixins.responsive(medium){
                flex-direction: column;
                gap: 100px;
                
            }

            .single-item{
                max-width: 380px;
                background:linear-gradient(#2D2E42, #000000);
                padding: 15px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                gap: 15px;
                justify-content: space-between;
                position: relative;
                box-shadow: 1px 1px 8px #000;

                @include mixins.responsive(medium){
                    margin-bottom: 0;
                }

                .chips-image{
                    max-width: 160px;
                    width: 40%;
                    img{
                        width: 100%;
                        position: absolute;
                        max-width: 160px;
                        top: -60px;
                        left: -20px;
                        transform: rotate(10deg);

                        @include mixins.responsive(small){
                            max-width: 150px;
                            top: -40px;
                            left: -5px;
                            transform: rotate(8deg);
                        }

                    }
                }

                .chips-info{
                    width: 60%;
                    
                    gap: 10px;
                    h4{
                        color: #fff;
                    }

                    .chips-rating{
                        margin-bottom: 15px;
                    }
                    .price-qty{
                        display: inline-flex;
                        align-items: center;
                        gap: 15px;
                       

                        .qty{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            button.qty-btn-minus{
                                width: 28px;
                                height: 28px;
                                border: none;
                                padding: 4px;
                                border-radius: 2px 0 0 2px;
                                display: flex;
                                align-items: center;      
                                justify-content: center;
                                font-size: 18px;
                            
                            }

                            input.qty-input{
                                -moz-appearance: textfield;
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                                max-width: 40px;
                                padding: 5.2px;
                                border: 1px solid #fff;
                                margin-right: 0;
                                margin-left: 0;
                                max-height: 40px;
                                
                                &:focus{
                                    outline: none;
                                }

                            }

                            button.qty-btn-plus{
                                width: 28px;
                                height: 28px;
                                border: none;
                                padding: 4px;
                                
                                border-radius: 0 2px 2px 0;
                                display: flex;            // make it flex
                                align-items: center;      // vertical center
                                justify-content: center;
                                font-size: 18px;
                            }

                        }

                        .chips-price{
                            p{
                                color: #fff;
                                
                            }
                        }

                        
                    }

                    .add-to-cart-btn{
                        margin-top: 15px;
                        background-color: var(--color-red);
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                        padding: 8px 16px;
                        border-radius: 35px;
                        transition: 0.2s ease-in-out;
                        &:hover{
                            background-color: var(--color-yellow);
                        }

                       

                        a{
                            color: white;
                            font-family: "Cabin", sans-serif;
                            font-size: 16px;
                            
                        }
                        img{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
        }
        .cta-button{
            margin-top: 60px;
            text-align: center;
            @include mixins.responsive(medium){
                margin-top: 60px;
            }
            a{

            }
        }
    }
}

/** *************** End of Quick Purchase ****************** **/


/** *************** About Lays ****************** **/

.about-lays-section{
    padding: 60px 0;
    background-color: var(--body-bg-light);

    .about-lays{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        @include mixins.responsive(medium){
            flex-direction: column;
        }
        .left-image{
            max-width: 600px;
            width: 50%;
            @include mixins.responsive(medium){
                width: 100%;
                max-width: 280px;
            }
            img{
                width: 100%;
            }
        }
        .right-text{
            width: 50%;
            @include mixins.responsive(medium){
                width: 100%;
                text-align: center;
            }
            h2{
                margin-bottom: 25px;
                
            }
            p{
                @include mixins.responsive(medium){
                    text-align: justify;
                }
            }
            .cta-button{

            }

        }
    }
}

/** *************** End of About Lays ****************** **/

/** *************** Lays Special ****************** **/

.lays-special-section{
    padding: 60px 0;
    background-color: #fff;
    .lays-special{

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include mixins.responsive(medium){
            flex-direction: column;
        }

        .left-image{
            max-width: 500px;
            @include mixins.responsive(small){
                max-width: 350px;
                margin: auto;
            }
            
            img{
                width: 100%;
                margin-top: 30px;
                  
            }
        }

        .special-lays-items{

            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 20px;

            @include mixins.responsive(small){
                grid-template-columns: repeat(1, auto);
            }

            .single-item{
                max-width: 350px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                background-color: var(--body-bg-light);
                padding: 15px;
                border-radius: 12px;
                position: relative;

                @include mixins.responsive(small){
                    max-width: 400px;
                }

                .product-image{
                    max-width: 90px;
                 
                    img{
                        width: 100%;
                        
                    }
                }

                .product-info{
                    h4{

                    }
                    p{
                        margin-bottom: 15px;
                        line-height: 1.1em;
                        font-size: 16px;
                        margin-top: 10px;
                        color:#414a4c;
                    }

                    .price-qty{
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        

                        .qty{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            button.qty-btn-minus{
                                width: 28px;
                                height: 28px;
                                border: none;
                                padding: 4px;
                                border-radius: 2px 0 0 2px;
                                display: flex;
                                align-items: center;      
                                justify-content: center;
                                font-size: 18px;
                            
                            }

                            input.qty-input{
                                -moz-appearance: textfield;
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                                max-width: 40px;
                                padding: 5.2px;
                                border: 1px solid #fff;
                                margin-right: 0;
                                margin-left: 0;
                                max-height: 40px;
                                
                                &:focus{
                                    outline: none;
                                }

                            }

                            button.qty-btn-plus{
                                width: 28px;
                                height: 28px;
                                border: none;
                                padding: 4px;
                                
                                border-radius: 0 2px 2px 0;
                                display: flex;            // make it flex
                                align-items: center;      // vertical center
                                justify-content: center;
                                font-size: 18px;
                            }

                        }

                        .chips-price{
                            p{
                                color: #fff;
                                margin: 0;
                                font-weight: bold;
                                color: #000;
                            }
                        }

                        
                    }

                    .add-to-cart-btn{
                        width: 40px;
                        height: 40px;
                        background-color: var(--color-red);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        position: absolute;
                        right: 0px;
                        top: -10px;
                      
                        a{
                            display: inline-block;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                        
                    }


                }
            }
        }

    }

}

/** *************** End of Lays Special ****************** **/

/** *************** Client Review Section ****************** **/

.clients-reviews-section{
    background-color: var(--body-bg-light);
    padding: 60px;
    .client-reviews{
        h2{
            text-align: center;
        }
        p.section-title{
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            color: #414a4c;
        }

        .all-client-reviews{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            @include mixins.responsive(medium){
                flex-direction: column;
            }
            .single-review{
                background-color: #fff;
                padding: 15px;
                border-radius: 12px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                
                .qoute-ratings{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .qoute-sign{
                        max-width: 60px;
                        img{
                            width: 100%;
                        }   
                    }
                    .star-ratings{

                    }

                }
                .qoute-text{
                    p{

                    }
                }
                .qoute-client{
                    
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: flex-end;
                    margin-top: 35px;
                    .client-info{
                        text-align: right;

                        h5{
                            font-size: 22px;
                        }
                        p.client-designation{
                            margin-bottom: 0;
                            color:#414a4c;
                            font-size: 16px;
                        }
                    }
                    .client-avatar{

                    }


                }
            }
        }

        .review-cta{
            margin-top: 50px;
            text-align: center;
        }
    }
}

/** *************** End of Client Review Section ****************** **/


/** *************** Blog Section CSS ****************** **/
.blog-section{
    padding: 50px;
    .latest-articles{
        h2.section-title{
            text-align: center;
        }
        .articles-grid{
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            @include mixins.responsive(medium){
                flex-direction: column;
            }
            .single-article{
                background-color: var(--body-bg-light);
                max-width: 295px;
                border-radius: 12px;
                
                .article-thumb{
                    max-width: 295px;
                    img{
                        width: 100%;
                        border-radius: 12px 12px 0 0;
                    }
                }
                .article-meta{
                    padding: 15px 10px;
                    h4.article-title{
                        font-size: 18px;
                    }
                    p.article-content{
                        margin: 15px 0;
                        font-size: 16px;
                    }
                    .read-more-btn{
                        
                        a{
                            display: inline-flex;
                            align-items: center;
                            gap: 4px;
                            color: var(--color-red);
                            
                            svg.right-arrow{

                            }
                        }
                    }
                }

            }
        }
    }
}

/** *************** End of Blog Section CSS ****************** **/


